[submodule ".local/share/icons/la-capitaine-icon-theme"]
	path = .local/share/icons/la-capitaine-icon-theme
	url = https://github.com/RichGuk/la-capitaine-icon-theme.git
[submodule ".config/zsh/zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
