@define-color foreground #bac2de;
@define-color background #11111b;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: FiraCode Nerd Font;
  font-size: 16px;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#custom-os_button {
  margin-right: 20px;
  font-size: 20px;
}

#workspaces {
  font-size: 16px;
}
#workspaces button {
  border-radius: 0;
  margin: 0 2.5px;
}

#workspaces label {
  background: transparent;
  border: none;
}

#workspaces box {
  background: transparent;
}

#workspaces button.active {
  background-color: #1e1e2e;
}
#workspaces button.active label {
  color: #b4befe;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio
 {
  font-size: 18px;
  min-width: 12px;
  margin-left: 15px;
  color: #a6adc8;
}

#custom-expand-icon {
}

#cpu {
  font-size: 22px;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}
#mpris {
  font-size: 14px;
}
#mpris.paused {
  color: #6c7086;
}

#clock {
  margin-left: 20px;
  font-size: 15px;
}

#custom-updates {
  margin-left: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #b8c0e0;
}
