snippet class "Basic Ruby class" b
class ${1:Test}
  def initialize(${2:attr})
    $3
  end
end
endsnippet

snippet rspec "Rspec file" b
require 'rails_helper'

describe ${1:Test} do
  $0
end
endsnippet

snippet defi "def initialize"
def initialize(${1:attr})
  $0
end
endsnippet

snippet if "If block"
if ${1:condition}
  $0
end
endsnippet

snippet unless "unless block"
unless ${1:condition}
  $0
end
endsnippet

snippet ife "If/else block"
if ${1:condition}
  $0
else
end
endsnippet
