[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment[en_GB]=Browse the Web (work profile)
Comment=Browse the Web (personal profile)
Exec=/usr/lib/firefox/firefox -p Personal --class FxPersonal %u
GenericName[en_GB]=
GenericName=
Icon=org.mozilla.Firefox
Keywords=web;browser;internet;
MimeType=text/html;application/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;
Name[en_GB]=Firefox (Personal)
Name=Firefox (Personal)
Path=
StartupNotify=true
StartupWMClass=FxPersonal
Terminal=false
TerminalOptions=
Type=Application
Version=1.0

[Desktop Action new-private-window]
Exec=/usr/lib/firefox/firefox -p Personal --class FxPersonal --private-window %u
Name=New Private Window

[Desktop Action new-window]
Exec=/usr/lib/firefox/firefox -p Personal --class FxPersonal --new-window %u
Name=New Window

