[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment[en_GB]=Browse the Web (work profile)
Comment=Browse the Web (work profile)
Exec=/usr/lib/firefox/firefox -p Work --class FxWork %u
GenericName[en_GB]=
GenericName=
Icon=org.mozilla.FirefoxNightlyWayland
Keywords=web;browser;internet;
MimeType=text/html;application/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;
Name[en_GB]=Firefox (work)
Name=Firefox (work)
Path=
StartupNotify=true
StartupWMClass=FxWork
Terminal=false
TerminalOptions=
Type=Application
Version=1.0

[Desktop Action new-private-window]
Exec=/usr/lib/firefox/firefox -p Work --class FxWork --private-window %u
Name=New Private Window

[Desktop Action new-window]
Exec=/usr/lib/firefox/firefox -p Work --class FxWork --new-window %u
Name=New Window
